name: SSH Remote Commands
on:
    push:
      branches: [main]

jobs:
  job_one:
    name: deployment
    runs-on: ubuntu-latest
    steps:
    - name: ssh connection
      uses: appleboy/ssh-action@master
      with: 
        host: 13.215.51.165
        username: admin
        key: ${{ secrets.SSH_SECRET }}
        port: 22
        script: |
          sudo su -
          cd DeSome_offchain
          git pull
          hl11jp
          ${{ secrets.TOKEN_SECRET }}
          pm2 reload index.js
# should be working by now